root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{csproj,props,targets,xml}]
indent_size = 2

[*.{json,yaml,yml}]
indent_size = 2

[*.cs]
# var preferences
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion

# Expression-bodied members
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_constructors = false:suggestion
csharp_style_expression_bodied_operators = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = when_on_single_line:suggestion
csharp_style_expression_bodied_indexers = when_on_single_line:suggestion
csharp_style_expression_bodied_accessors = when_on_single_line:suggestion
csharp_style_expression_bodied_lambdas = when_on_single_line:suggestion
csharp_style_expression_bodied_local_functions = when_on_single_line:suggestion

# Pattern matching preferences
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion

# Null-checking preferences
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion

# Modifier preferences
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion

# Code block preferences
csharp_prefer_braces = true:suggestion
csharp_prefer_simple_using_statement = true:suggestion

# Namespace preferences
csharp_style_namespace_declarations = file_scoped:warning

# The behavior of <Type.Parse> could vary based on the current user's locale settings.
dotnet_diagnostic.CA1305.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# StyleCop
# dotnet_diagnostic.SA0001.severity = none
# Overruled by csharpier
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1111.severity = none
dotnet_diagnostic.SA1513.severity = none

dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1633.severity = none
# dotnet_diagnostic.SA1413.severity = none
# dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1600.severity = none
# dotnet_diagnostic.SA1601.severity = none
# dotnet_diagnostic.SA1602.severity = none

# Meziantou - enable string comparison warning
# dotnet_diagnostic.MA0006.severity = warning
# Superseded by CA1100
dotnet_diagnostic.MA0018.severity = none

# IDE rules
# dotnet_diagnostic.IDE0005.severity = warning

# SonarLint
dotnet_diagnostic.S2326.severity = none
